#searchForm{
    border:1px solid black;
    border-radius: 12px;
    margin:10px auto;
    max-width: 500px;
    padding:10px;
}
#searchPara{
    margin:10px;
    text-align: left;
    font-size: 20px;
}
#searchBar{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 16px;
    border:1px solid black;
    border-radius: 12px;
    padding: 4px 8px;
    margin:10px;
    max-width: 250px;
}

#searchButton{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding:4px 8px;
    border:none;
    border-radius: 12px;
    background-color: #7BD3EA;
    color: white;
    margin: 10px;
}
